@{
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<!DOCTYPE html>

<html>
<body>
    @*TopImage*@
    <div id="informationheader" style="margin-top: 50px;margin-bottom: 50px;">
        <img src="~/Content/Resources/logowithtext.svg" id="logo" />
    </div>

    @*NavBar*@
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark" id="navigationBar">
        <a class="navbar-brand" href="#">KickTask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" id="menuitem">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Tasks", "Task")" id="menuitem">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Partners", "Partner")" id="menuitem">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AccountDetail", "Account")" id="menuitem">Account</a>
                </li>
            </ul>

            <a class="nav-link" href="@Url.Action("Logout", "Account")" id="menuitem" style="color: white;" onclick="SignOut()">Sign Out</a>
        </div>
    </nav>

    @*Container*@
    <div class="container"> @RenderBody() </div>

    @*<div class="footer"></div>*@


</body>
</html>
