@model KickTask.Models.Account

@{
    ViewBag.Title = "AccountDetail";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}


<div>
    <br />
    <br />
    <h4>Account</h4>
    @Html.ActionLink("Edit", "AccountEdit", new { ID = Model.ID })

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </dt>

        <dd>
            @if (Model.IsEmailVerified)
            {
                <p>Yes</p>
            }
            else
            {
                <p>No</p>
            }
        </dd>

    </dl>
</div>

