@model IEnumerable<KickTask.Models.Task>

@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}
<br />
<br />
<h2>Tasks</h2>

<p>
    @Html.ActionLink("Create New", "CreateTask")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>            
            @Html.DisplayNameFor(model => model.Status.StatusText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusText)
            </td>
            <td>
                @Html.ActionLink("Edit", "TaskEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "TaskDetail", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteTask", new { id = item.ID })
            </td>
        </tr>
    }

</table>
